<div class="">
  <div class="background-image2 text-center py-5">
    <%= image_tag @post.avatar, class: "img-fluid p-2" %>
  </div>
  <h1 class="title-show text-center">
    <%= @post.title %>
  </h1>
  <p class="author text-center">
    <%= @post.author %> | <%= l @post.created_at, format: :short  %>
  </p>
  <div class="container">
    <div class="description-show">
      <%= @post.description.gsub("\n", "<br>").html_safe %>
    </div>
  </div>
</div>

<hr class="mt-5 mb-5">

<div class="container">
  <h4>Comentários</h4>

  <div class="shadow-sm m-3 p-3 bg-light rounded">
    <%= form_with model: @comment, local: true do |form| %>
      <%= form.hidden_field :post_id, value: @post.id %>

        <div class="form-group">
          <%= form.label :author %>
          <%= form.text_field :author, class:"form-control", required: true %>
        </div>

        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_area :description, class:"form-control", rows: 3 %>
        </div>

        <%= form.submit 'Enviar', class: "btn btn-block btn-submit mt-2", data: { disable_with: 'Enviando...' } %>
    <% end %>
  </div>

  <% @comments.each do |comment| %>
    <div class="shadow-sm m-3 p-3 bg-light rounded">
      <div class="row">
        <div class="col d-flex align-items-center">
          <img src="/person.png" class="rounded-circle me-3 p-1" alt="...">
          <%= comment.author %>
        </div>

        <div class="col text-end">
          <em data-toggle="tooltip" data-placement="top" title="<%= l comment.created_at, format: :long %>">
            <%= time_ago_in_words comment.created_at %> atrás
          </em>
        </div>
      </div>
      <hr>
      <%= sanitize(comment.description.gsub("\n", "<br>").html_safe) %>  
    </div>
  <% end %>
</div>