<!DOCTYPE html>
<html>
  <head>
  
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="">
    <div class="">
      <nav class="navbar navbar-light bg-light py-3">
        <div class="container">
          <a class="navbar-brand logo" href="<%= root_path %>">
          @rafaelrabelodev
          </a>
          <div class="d-flex justify-content-center align-items-center ms-auto">
            <%= form_with url: search_posts_path, method: :get, local: true, class:"d-flex ms-auto d-none d-sm-block" do |form| %>
              <%= form.search_field :q, class:"form-control me-2", required: true, type: "search", placeholder: 'Buscar post...', value: params[:q] %>
            <% end %>
            <div class="social-network">
              <a href="https://twitter.com/rafaelrabelodev" target="_blank" class="m-3">
                <img src="/Vector.png" class=""alt="">
              </a>
              <a href="https://www.linkedin.com/in/rafaelsrabelo/" target="_blank" class="">
                <img src="/linkroxo.png" class=""alt="">
              </a>
            </div>
          
          </div>
        </div>
      </nav>
    </div>
    
    <%# <p class="line d-flex type-animation">
      Blog feito em Rails | Portfólio =)
    </p> %>
    
    <!-- 
    <div class="container">
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type == 'alert' ? 'danger' : 'success' %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

    </div>
    -->

    <%= yield %>
    
    <footer class="bg d-block text-center pt-4 pb-4">
      <div class="icons-footer mb-4">
        <a href="https://twitter.com/rafaelrabelodev" target="_blank">
          <img src="/twitter-white.svg" class="m-4" alt="">
        </a>
        <a href="https://www.linkedin.com/in/rafaelsrabelo/" target="_blank">
          <img src="/linkedin-white.svg" alt="">
        </a>
      </div>
      <hr>
      <p>Copyright © @rafaelsrabelo <%= Date.current.year %></p>
    </footer>
  </body>
</html>
